*{
    background-color: aliceblue;
    text-align: center;
}



.title{
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
    padding: 20px;
}

.title:hover{
    background-color: aquamarine;
}

input{
    border: 1px solid black;
    border-radius: 3px;
   
}

label{
    font-size: 20px;
}
